<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    {% if color != " " %}
    <style>
        .blue{
            background-color: {{color}};
        }
    </style>
    {% endif %}
    <title>Changing</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container1">
        {% if num >=1 %}
            {% for x in range(0, num) %}
            <div class="blue"></div>
            {% endfor %}
        {% else %}
            {% for x in range(0,3) %}
            <div class="blue"></div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>